.modalBackground{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer{
    background: white;
    width: 400px;
    height: 500px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-size: 15px;
}

.modalImage img{
    width: 100px;
}

.buttonRead img{
    width: 80px;
}

.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.body{
    margin-top: 10px;
    font-size: small;
}

.buttonRead button{
    outline: none;
    border: none;
    background-color: #3EB489;
    border-radius: 10px;
    width: 240px;
}

.bookSynopsis{
    margin-top: 15px;
    font-size: small;
}